h1{
    color: gray;
}
body{
    background-color: aqua;
    text-align: center;
}
img{
    width:250px;
}
a{
    color: white;
    background-color: #0077ff;
}
.m{
    color: white;
    background-color: #0077ff;
}